#signin-panel {
    height: 30px;
}

.brand-logo {
    font-family: 'Berlin Sans FB';
    font-size: 25px !important;
}

.navmenu {
    height: 35px !important;
}

    .navmenu li {
        line-height: 35px;
    }

    .navmenu .dropdown-trigger {
        height: 35px;
    }

.nav-account {
    height: 35px;
}


