@{
    ViewBag.Title = "Home Page";
}

<div>
    <table>
        <thead>
        <th>Manufacturer</th>
        <th>Country</th>
        </thead>
        <tbody>
            <tr>
                @foreach (var manuf in ViewBag.ManufList)
                {
                    <td>@manuf.Name</td>
                }
            </tr>
            <tr>
                @foreach (var country in ViewBag.Countries)
                {
                    <td>@country.Name</td>
                }
            </tr>
        </tbody>
    </table>
</div>