@using WatchShop.Models
@model AddGoodViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="row">
       @Html.Partial("_FilterPartial")
        <div id="goods-catalog" class="col s9">
            <div class="sort-block">
                <a class='dropdown-trigger btn drop-sort' data-target='dropdown2'><i class="material-icons right">arrow_drop_down</i>Сортировка</a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!">По умолчанию</a></li>
                    <li><a href="#!">По цене</a></li>
                </ul>
            </div>
        
            <div class="goods-list">
      
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <p class="card-title">Card Title</p>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <span>155$</span>
                            <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <p class="card-title">Card Title</p>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>